@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Jersey+20+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Jersey+20+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DynaPuff", system-ui;
}
p,
a,
li {
  font-family: "Manrope", sans-serif;
}
.containar {
  width: 1050px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 703px;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    width: 380px;
    margin: 0 auto;
  }
}

// header header header

.header {
  //   width: 1440px;
  //   height: 800px;
  padding: 48px 0 119px 0;
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);

  h1 {
    color: #fff;
    font-family: DynaPuff;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 401px 0 0 0;

    @media screen and (max-width: 1200px) {
      width: 521px;
      padding: 179px 0 28px 0;
    }
    @media screen and (max-width: 768px) {
      width: 326px;
      font-size: 48px;
      padding: 329px 0 149px 0;
    }
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;

  .header__nav-list {
    display: inline-flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    li {
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 20px;
      border: 1px solid #fff;

      a {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: relative;
      }

      &:nth-child(1):before {
        content: "";
        background-image: url("../images/nav/1fi-rr-magic-wand.svg");
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
      }

      &:nth-child(2):before {
        content: "";
        background-image: url("../images/nav/2fi-rr-document.svg");
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
      }

      &:nth-child(3):before {
        content: "";
        background-image: url("../images/nav/3fi-rr-flower-tulip.svg");
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
      }

      &:nth-child(4):before {
        content: "";
        background-image: url("../images/nav/4fi-rr-comment-heart.svg");
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }
}

// section meet meet\

.meet {
  background: #202020;
  padding: 101px 0 102px 0;
  position: relative;

  &::after {
    content: "";
    width: 413.582px;
    height: 552.039px;
    right: 0;
    top: -32px;
    flex-shrink: 0;
    position: absolute;
    background-image: url("../images/Meet\ .svg");
    display: block;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      background-size: contain;
      width: 370.582px;
      height: 552.039px;
    }
  }

  .meet-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  h2 {
    color: #faeb49;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;

    @media screen and (max-width: 768px) {
      width: 342px;
      font-size: 36px;
    }
  }

  p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 524px;
    display: flex;

    @media screen and (max-width: 768px) {
      width: 342px;
      font-size: 15px;
    }
  }

  .meet__numbers {
    display: flex;
    align-items: flex-start;
    gap: 96px;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      & li:first-child {
        color: #fff;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media screen and (max-width: 768px) {
          font-size: 36px;
        }
      }

      & li:last-child {
        color: #fff;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 116px;

        @media screen and (max-width: 768px) {
          width: 75px;
        }
      }
    }
  }
}

// section banking-mobile banking-mobile

.banking-mobile {
  background: #3c3c3c;
  padding: 86px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    gap: 63px;

    .banking-mobile__card-big {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      background: #fffef2;
      border-radius: 24px;
      padding: 24px 20px;

      @media screen and (max-width: 1200px) {
        img {
          width: 663px;
        }

        @media screen and (max-width: 768px) {
          img {
            width: 335px;
            height: 278px;
          }
        }
      }

      .banking-mobile__card-big-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        align-self: stretch;

        h3 {
          color: #565656;
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          align-self: stretch;

          @media screen and (max-width: 768px) {
            font-size: 32px;
          }
        }
        p {
          color: #000;
          font-family: Manrope;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 580px;
          align-items: stretch;

          @media screen and (max-width: 768px) {
            width: 311px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.banking-mobile__card-small-wrapper {
  display: flex;
  //   width: 1440px;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .banking-mobile__card-small {
    display: flex;
    width: 325px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: #fffef2;

    @media screen and (max-width: 1200px) {
      img:nth-child(1) {
        height: 448px;
        width: 281px;
      }
    }

    @media screen and (max-width: 768px) {
      &:nth-child(1) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      &:nth-child(2) {
        width: 375px;
        img {
          width: 333px;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      &:last-child {
        display: none;
      }
    }

    .banking-mobile__card-small-wrapperr {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 22px;
      align-self: stretch;

      h3 {
        color: #565656;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
      }

      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 285px;

        @media screen and (max-width: 1200px) {
          font-size: 15px;
        }
      }
    }
  }
}

.graphics-design {
  background: #202020;
  padding: 82px 0 138px 0;

  @media screen and (max-width: 768px) {
    padding: 58px 0 93px 0;
  }
}

.graphics-design__wrapper {
  h2 {
    color: #fff;
    font-family: DynaPuff;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 0 38px 0;

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }

  .graphics-design__wrapper-img {
    display: flex;
    gap: 26px;
    flex-direction: column;

    .graphics-design_img {
      position: relative;
      display: flex;
      justify-content: space-between;

      .graphics-design_icon {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
      }

      @media screen and (max-width: 1200px) {
        img {
          width: 343px;
          height: 325px;
        }

        @media screen and (max-width: 768px) {
          img {
            width: 381px;
            height: 325px;
          }
        }

        .graphics-design_icon {
          position: absolute;
          right: 50%;
          bottom: 50%;
          transform: translate(50%, 50%);

          @media screen and (max-width: 1200px) {
            width: 147px;
            height: 151px;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .graphics-design_img-small {
    display: flex;
    gap: 26px;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
.graphics-design_img-small-small {
  @media screen and (max-width: 768px) {
    width: 381px;
    height: 325px;
  }
}

.graphics-design_imgg {
  position: relative;

  .graphics-design_img-big {
    @media screen and (max-width: 1200px) {
      width: 704px;
      height: 414px;
      flex-shrink: 0;
    }

    @media screen and (max-width: 768px) {
      width: 381px;
      height: 325px;
    }
  }

  .graphics-design_icon-big {
    flex-shrink: 0;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);

    @media screen and (max-width: 1200px) {
      width: 147px;
      height: 151px;
      flex-shrink: 0;
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
    }
  }
}
// .graphics-design_img-small-small {
//   position: relative;
// }

// section design design

.design {
  background-image: url("../images/Rectangle.png");
  padding: 274px 0 294px 0;

  @media screen and (max-width: 1200px) {
    padding: 303px 0 323px 0;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 1059px;
    text-align: center;

    @media screen and (max-width: 1200px) {
      width: 704px;
    }

    @media screen and (max-width: 768px) {
      width: 343px;
      font-size: 24px;
    }
  }
}

// footer footer footer

.footer {
  background: #202020;
  padding: 78px 0 30px 0;
  text-align: center;

  @media screen and (max-width: 1200px) {
    padding: 96px 0 30px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 53px 0 40px 0;
  }

  .footer-wrapper {
    display: flex;
    padding: 42px 137px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border-radius: 139px;
    border: 1px solid #f2f2f2;
    position: relative;
    gap: 45px;

    @media screen and (max-width: 1200px) {
      width: 714px;
      padding: 20px 20px;
      align-items: center;
      position: relative;
    }

    @media screen and (max-width: 768px) {
      width: 342px;
      padding: 5px 5px;
      align-items: center;
      position: relative;
    }

    h3 {
      color: #fff;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    p {
      color: #fff;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: relative;
      display: flex;
      align-items: center;
      gap: 24px;

      @media screen and (max-width: 768px) {
        font-size: 15px;
      }

      &::after {
        content: "";
        width: 57px;
        height: 29px;
        background-image: url("../images/footer/Group.svg");
        left: 0;
        top: 0;
        position: relative;

        @media screen and (max-width: 768px) {
          display: none;
        }

      }
    }
  }
}

.footer-wrapper::before {
  content: "";
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  width: 108px;
  height: 108px;
  background-image: url("../images/footer/Dawn.svg");

  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
    content: "";
    position: relative;

    display: flex;
    width: 52px;
    height: 51px;
    background-image: url("../images/footer/768Dawn.png");
  }




}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 34px;
  padding: 163px 0 21px 0;

  @media screen and (max-width: 1200px) {
    padding: 60px 0 21px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 113px 0 21px 0;
  }
}

.copyright {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
